##############################
# python
##############################
__pycache__/
*.py[cod]


##############################
# shard/static library
##############################
*.so
*.a

##############################
# CMake
##############################
CMakeCache.txt
CMakeFiles
C*.cmake
cmake_install.cmake
Testing
build/
Makefile
cmake-build*


##############################
# Temporary Files
##############################
.*.swp
